beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
greenlet==1.1.2
idna==3.3
ifaddr==0.1.7
kazoo==2.6.1
Pillow==9.0.1
psycopg2==2.9.3
pysolr==3.9.0
requests==2.27.1
six==1.16.0
soco==0.25.3
SolrClient==0.3.1
soupsieve==2.3.1
SQLAlchemy==1.4.29
urllib3==1.26.8
Wand==0.6.7
xmltodict==0.12.0
