body {
    padding-top: 10px;
}

.row {
    margin-top: 40px;
}

.lyrics
{
	white-space: pre-line;
	font-style:italic;
}


/* From http://webdesignerwall.com/demo/css3-image-styles/ */
.image-wrap {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
   display: inline-block;
   opacity: 0.1;
   position: relative;
   height: 500px;
   width: 500px;
    
}


h1 {color:#FF0000;font-size:3em;}

