*
{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 10px;
}


.lyrics
{
	white-space: pre-line;
	font-style:italic;
}

/* From http://webdesignerwall.com/demo/css3-image-styles/ */
.image-wrap {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
   display: inline-block;
   opacity: 0.1;
   position: relative;
   height: 500px;
   width: 500px;
    
}


h1 {color:#FF0000;font-size:2em;}
{
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
    overflow-y:hidden;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }

.Header
{   margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 30px;
}
.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.RightContent
{
    overflow: hidden;
    padding-left: 40px;
    padding-bottom: 100px;
}

.RightContent:hover
{
    overflow: auto;
}


.LeftContent
{
    padding-top: 10px;
    padding-left: 40px;
    float: left;
}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url("../img/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;*margin-right:.3em;}

[class^="icon-"]:last-child,[class*=" icon-"]:last-child{*margin-left:0;}

.icon-forward{background-position:-336px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;width:}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}

button
{width: 100px;}